<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            
            <span class="navbar-brand mb-0 h1" href="#">Books</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                  </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <button type="button" class="btn btn-warning" href="">LOGIN</button>&emsp;
                &emsp;<button type="button" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                    <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                </svg>
                </button>&emsp;

                <button type="button" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
                </button>&emsp;
                <button type="button" class="btn btn-warning" href="">Home</button>&emsp;
                &emsp;
            </div>
            <div class="d-inline-flex align-items-center">
                <a class="text-light" href="">FAQs</a>
                <span class="text-muted px-2">|</span>
                <a class="text-light" href="">Help</a>
                <span class="text-muted px-2">|</span>
                <a class="text-light" href="">Support</a>
            </div>
        </div>
    </nav>
      <div class="container">
          <p><h3>Book Section</h3></p>
        <div class="row align-items-start">
          <div class="col">
              <br>
              <div class="card" style="width: 18rem;">
                <img src="https://i.guim.co.uk/img/media/1d4b16d4c6703e9bec9174f1cadc278026de0647/0_75_1280_768/master/1280.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=d036928c5974e9e8bfd87be5dcf37dd7" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    Author: J. K. Rowling
                    Genre: Fantasy
                    Price:₹250</p>
                  <button class="btn btn-success">Buy</button>
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
          </div>
        
          <div class="col">
            <br>
              <div class="card" style="width: 18rem;">
                <img src="https://www.dvcinquirer.com/wp-content/uploads/2017/02/FullSizeRender.000.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    Author:Sherman Alexie<br>
                    Price:₹350</p>
                  <button class="btn btn-success">Buy</button>
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
          </div>

          <div class="col">
            <br>
            <div class="card" style="width: 18rem;">
              <img src="https://pbs.twimg.com/media/FPBzzSnaAAUyQxf.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  Author:Nitya Ravi<br>
                  Price:₹350</p>
                <button class="btn btn-success">Buy</button>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>

          <div class="col">
            <br>
            <div class="card" style="width: 18rem;">
              <img src="https://resizing.flixster.com/tPSC_jOY2fGh_HMc2DA60db5JTY=/300x300/v2/https://flxt.tmsimg.com/assets/p6105_d_v8_aa.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  Author:Emily Bronte<br>
                  Price:₹350</p>
                <button class="btn btn-success">Buy</button>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
        </div>
        </div>
        <div class="row">
          <div class="col">
            <br>
            <div class="card" style="width: 17rem;">
              <img src="https://m.media-amazon.com/images/I/81QVGzyExnL._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  Author:Kevin Missal<br>
                  Price:₹229</p>
                <button class="btn btn-success">Buy</button>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>

          <div class="col">
            <br>
            <div class="card" style="width: 18rem;">
              <img src="https://i.pinimg.com/236x/91/5b/60/915b608e50c9047efb6d4543b4788d02--books-online.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  Karuna Gokhale<br>
                  Price:₹287</p>
                <button class="btn btn-success">Buy</button>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>

          <div class="col">
            <br>
            <div class="card" style="width: 18rem;">
              <img src="https://i0.wp.com/www.iskconbooks.com/wp-content/uploads/2020/10/Marathi-Beyond-birth-and-death-copy-1.jpg?resize=247%2C296&ssl=1" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  S.C.Bhagtivedant<br>
                  Price:₹187</p>
                <button class="btn btn-success">Buy</button>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>

          <div class="col">
            <br>
            <div class="card" style="width: 18rem;">
              <img src="https://i0.wp.com/www.iskconbooks.com/wp-content/uploads/2020/10/Marathi-Second-chance-copy.jpg?resize=247%2C296&ssl=1" class="card-img-top" alt="...">
              <div class="card-body">
                  <br>
                <p class="card-text">
                 Swami Prabupat<br>
                  Price:₹56</p>
                <button class="btn btn-success">Buy</button>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col">
            <br>
            <div class="card" style="width: 16rem;">
              <img src="https://m.media-amazon.com/images/I/51ojowivapL._CR0,280,720,720_UX175.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  Nilotpal Mrunal<br>
                  Price:₹150</p>
                <button class="btn btn-success">Buy</button>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>

          <div class="col">
            <br>
            <div class="card" style="width: 16rem;">
              <img src="https://m.media-amazon.com/images/I/71lSSvchS3L._CR0,160,960,960_UX175.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  Divya Prakash Dube<br>
                  Price:₹150</p>
                <button class="btn btn-success">Buy</button>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>

          <div class="col">
            <br>
            <div class="card" style="width: 16rem;">
              <img src="https://images-eu.ssl-images-amazon.com/images/I/51qRQpfEG1L._AC_UL140_SR140,140_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  B.Bhagtivedant<br>
                  Price:₹169</p>
                <button class="btn btn-success">Buy</button>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>

        <div class="col">
            <br>
            <div class="card" style="width: 16rem;">
              <img src="https://images-eu.ssl-images-amazon.com/images/I/81rvh08iqVL._AC_UL160_SR160,160_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  Nilotpal Mrunal<br>
                  Price:₹350</p>
                <button class="btn btn-success">Buy</button>
                <button class="btn btn-primary">Add to Cart</button>
              </div>
            </div>
          </div>
      </div>

   </div>
   </body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>
