<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            
            <span class="navbar-brand mb-0 h1" href="#">E-Mart</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                  </svg>
                            </button>
                        </div>
                    </div>
                </form>
                
            </div>
            <div class="col-lg-3 col-6 text-right">
                <button type="button" class="btn btn-warning"><a href="/login">Login</a></button>&emsp;
            
                
                    
            
                &emsp;<button type="button" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                    <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                </svg>
                </button>&emsp;
                
                    
                
                <button type="button" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
                </button>&emsp;
                <button type="button" class="btn btn-warning" href="">Home</button>&emsp;
            </div>
            <div class="d-inline-flex align-items-center">
                <a class="text-light" href="">FAQs</a>
                <span class="text-muted px-2">|</span>
                <a class="text-light" href="">Help</a>
                <span class="text-muted px-2">|</span>
                <a class="text-light" href="">Support</a>
            </div>
        </div>
    </nav>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="collapse navbar-collapse " id="navbarNav1">
          <ul class="nav justify-content-center">
            <li class="nav-item" style="padding-left: ;">
              <a class="nav-link align-items-center"  href="/glocery">
                  <img src="https://d1ralsognjng37.cloudfront.net/e2d27322-3fcb-4467-b896-0c9b00860904.jpeg" alt="Grocery" width="70" height="70">
                  <br>
                  <h6>Glocery</h6>
                  
              </a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse " id="navbarNav2">
          <ul class="nav justify-content-center">    
            <li class="nav-item">
              <a class="nav-link" href="/mobiles">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnA9twpwyPtWyl8Ehr5TfLwEaf2u-CGA5lCA&usqp=CAU"  width="70" height="70" >
                  <br>
                  <h6>Mobiles</h6>
              </a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse " id="navbarNav3">
          <ul class="nav justify-content-center">    
            <li class="nav-item">
              <a class="nav-link" href="/electronics">
                  <img src="https://www.pngitem.com/pimgs/m/247-2474633_transparent-electronics-items-png-png-download.png"  width="80" height="70">
                  <br>
                  <h6>Electronics</h6>  
              </a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse " id="navbarNav4">
          <ul class="nav justify-content-center">    
            <li class="nav-item">
              <a class="nav-link" href="/decorate">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSllza_cqjoV9AZqH7j3j0mhuOu0SSf5NQ19Q&usqp=CAU" width="80" height="70">
                  <br>
                  <h6>Home Decor</h6>  
              </a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse " id="navbarNav5">
          <ul class="nav justify-content-center">    
              <li class="nav-item">
                  <a class="nav-link" href="/sports" >
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfif0glva50snD0I4Xx_6ZzoogRQMfcxOpVg&usqp=CAU"  width="80" height="70">
                      <br>
                      <h6>Sports & Fitness</h6>  
                  </a>
              </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse " id="navbarNav6">
          <ul class="nav justify-content-center">    
            <li class="nav-item">
              <a class="nav-link" href="/books" >
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCKZI3BSfyVWKKqumgsnc1OBM2VKxVieABQ55ZBre0dPaNvUKhpeUC2ND-RbG7Spoj6Yc&usqp=CAU"  width="80" height="70">
                  <br>
                  <h6>Books</h6>  
              </a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="nav justify-content-center">  
            <li class="nav-item">
              <a class="nav-link" href="/toys" >
                  <img src="https://m.media-amazon.com/images/I/411qQYKVRTL._AC_SS450_.jpg"  width="70" height="70">
                  <br>
                  <h6>Toys</h6>  
              </a>
  
            </li>
          </ul>
        </div>
    </nav>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i0.wp.com/campaignsoftheworld.com/wp-content/uploads/2017/06/Apple-iPhone.jpg" class="d-block w-100 " alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.ytimg.com/vi/XWrlDeEbx-o/maxresdefault.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/dca23476785161.5c7459cb90153.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>
    <div class="container">
      <div class = "row">
        <div class = "col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>"
        <div class="card" style="width: 18rem;">
        <img src="https://5.imimg.com/data5/SELLER/Default/2021/2/BF/YL/GY/54285427/all-grocery-items-500x500.png" class="card-img-top" alt="...">
        <div class="card-body">
          <br>
          <h5 class="card-title">Get all grocery items with discount upto 10%</h5>
          <a href="#" class="btn btn-dark">Shop now</a>
        </div>
        </div>&emsp;

        <div class="card" style="width: 18rem;">
        <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-card-40-iphone13pro-202203_FMT_WHH?wid=508&hei=472&fmt=p-jpg&qlt=95&.v=1644989935246" class="card-img-top" alt="...">
        <div class="card-body">
          <br><br>
          <h5 class="card-title"> Now in Alpine green</h5>
          <a href="#" class="btn btn-dark "  >Shop now</a>
        </div>
        </div>&emsp;
        <div class="card" style="width: 18rem;">
          <img src="https://www.taxscan.in/wp-content/uploads/2018/09/Electronic-Goods-Taxscan.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <br><br><br><br><br>
            <h5 class="card-title">Buy All The Latest Electronics products</h5>
            <a href="#" class="btn btn-dark">Shop now</a>
          </div>
        </div>&emsp;
          <div class="card" style="width: 18rem;">
            <img src="https://5.imimg.com/data5/MI/OZ/WH/SELLER-52149104/img-20200210-wa0031-500x500.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <br>
              <h5 class="card-title">Trending Home Decor Items </h5>
              <a href="#" class="btn btn-dark">Shop now</a>
            </div>
          </div>&emsp;
        </div>
      </div>&emsp;

      <div class="container">
        <div class = "row">
          <div class = "col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>"
          <div class="card" style="width: 18rem;">
            <img src="https://image.made-in-china.com/202f0j00VehRkHvlZPqB/Barbell-Yoga-Mat-Fitness-Equipment-Strength-Sports-Exercise-Dumbbell-Gym-Equipment-Accessories.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <br>
                <h5 class="card-title">Fitness Accessories </h5>
                <a href="#" class="btn btn-dark">Shop now</a>
              </div>
          </div>&emsp;
          <div class="card" style="width: 18rem;">
            <img src="https://cdn.lifehack.org/wp-content/uploads/2014/10/best-entrepreneur-books.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <br><br><br><br><br>
                <h5 class="card-title">Best Sellers in Books </h5>
                <a href="#" class="btn btn-dark">Shop now</a>
              </div>
          </div>&emsp;
          <div class="card" style="width: 18rem;">
            <img src="https://cbsnews3.cbsistatic.com/hub/i/2021/10/14/dc56284f-1eed-40c8-9aab-49258fc833cc/teeturtle.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <br>
                <h5 class="card-title">Best Tee Turtle Toy </h5>
                <a href="#" class="btn btn-dark">Shop now</a>
              </div>
          </div>&emsp;
        </div>
      </div>


    
    
    <div class="row justify-content-md-center py-5 px-xl-5">
        <div class="col-md-6 col-12 py-5">
          <div class="text-center mb-2 pb-2">
            <h2 class="section-title px-5 mb-3"><span class="bg-light px-2">Stay Updated</span></h2>
            <p>To Get updates for new arrivals subscribe here!</p>
          </div>
          <form action="#" method="post">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Email Goes Here">
              <div class="input-group-append">
                <button class="btn btn-primary">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
    </div>
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
          <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4 bg-primary text-light" style="padding:20px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                </svg>&ensp;
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4 bg-primary text-light" style="padding:20px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                    <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>&ensp;
 
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4 bg-primary text-light" style="padding:20px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                </svg>&ensp;
                <h5 class="font-weight-semi-bold m-0">
                    14-Day Return
                </h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4 bg-primary text-light" style="padding:20px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-telephone-plus" viewBox="0 0 16 16">
                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    <path fill-rule="evenodd" d="M12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5z"/>
                </svg>&ensp;
                <h5 class="font-weight-semi-bold m-0">24/7 Support
                </h5>

                
            </div>
          </div>
        </div>
      </div>
    <div class="container-fluid bg-dark text-light mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">E</span>Mart</h1>
                </a>
                
                <p class="mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                      </svg>
                      123 Street </p>
                <p class="mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                      </svg>
                      info@example.com
                    </p>
                <p class="mb-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                      </svg>
                    +012 345 67890
                </p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-light mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-light mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-light mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-light mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-light mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-light mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-light" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                   
                    
                </div>
            </div>
         
        </div>
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-light">
                     <a class="text-light font-weight-semi-bold" href="#">E Mart</a>. All Rights Reserved. 
                    
                    
                </p>
            </div>
            
        </div>
        
    </div>

        
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    

    
</body>
</html>