<html lang="en"><head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>E-Mart</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            
            <span class="navbar-brand mb-0 h1" href="/">E-Mart</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                  </svg>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-lg-3 col-6 text-right">
                <button type="button" class="btn btn-warning" href="">LOGIN</button>&emsp;
            
                &emsp;<button type="button" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                    <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"></path>
                </svg>
                </button>&emsp;  
                
                <button type="button" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                </svg>
                </button>&emsp;
                <button type="button" class="btn btn-warning" href="">Home</button>&emsp;
                
            </div>
            <div class="d-inline-flex align-items-center">
                <a class="text-light" href="">FAQs</a>
                <span class="text-muted px-2">|</span>
                <a class="text-light" href="">Help</a>
                <span class="text-muted px-2">|</span>
                <a class="text-light" href="">Support</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <p></p><h3><b>Appliances</b></h3><p></p>
        <p></p><h2>Television </h2><p></p>
      <div class="row align-items-start">
        <div class="col">
            <br>
            <div class="card" style="width: 18rem;">
              <img src="https://m.media-amazon.com/images/I/71vZypjNkPS._AC_UY218_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  OnePlus  LED Smart Android TV<br>
                  80 cm (32 inches) Y Series HD<br>
                  (Black) (2020 Model)<br>
                  Price:	₹14,999.00
                </p>
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-warning">Add to cart</button>
              </div>
            </div>
        </div>
        <div class="col">
          <br>
          <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/71vZLIfj5yS._AC_UY218_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                OnePlus 108 cm (43 inches) Y Series Full HD LED Smart Android TV 43Y1 (Black) (2020 Model) <br>
                Price:	₹25,999.00
              </p>
              <button class="btn btn-primary">Buy</button>
              <button class="btn btn-warning">Add to cart</button>
            </div>
          </div>
      </div>
      <div class="col">
            <br>
            <div class="card" style="width: 18rem;">
              <img src="https://m.media-amazon.com/images/I/7132bixhytL._AC_UY218_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                  Redmi 108 cm (43 inches) 4K Ultra HD Android Smart LED TV X43 | L43R7-7AIN (Black) (2022 Model)<br> 
                  Price:	₹27,999.00
                </p>
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-warning">Add to cart</button>
              </div>
            </div>
        </div>
        <p></p><h2>Washing machines</h2><p></p>
        <div class="col">
          <br>
          <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/7144KdCjAyL._AC_UL320_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                Samsung 7 Kg 5 Star Inverter, Hygiene Steam Fully-Automatic Front Loading Washing Machine<br>
                Price:	
                ₹29,990.00
              </p>
              <button class="btn btn-primary">Buy</button>
              <button class="btn btn-warning">Add to cart</button>
            </div>
          </div>
      </div>
      <div class="col">
        <br>
        <div class="card" style="width: 18rem;">
          <img src="https://m.media-amazon.com/images/I/71i8f3-DsuL._AC_UL320_.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              IFB 8kg 5 Star Fully-Automatic Front Loading Washing Machine <br>
              Price:	₹36,807.75
            </p>
            <button class="btn btn-primary">Buy</button>
            <button class="btn btn-warning">Add to cart</button>
          </div>
        </div>
    </div>
    <div class="col">
      <br>
      <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/71zjknKWpWL._AC_UL320_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Bosch 8 kg 5 Star Inverter Touch Control Fully Automatic Front Loading Washing Machine <br>
            Price:	₹33,490.00
          </p>
          <button class="btn btn-primary">Buy</button>
          <button class="btn btn-warning">Add to cart</button>
        </div>
      </div>
  </div>
  <p></p><h2>Microwaves </h2><p></p>
  <div class="col">
    <br>
    <div class="card" style="width: 18rem;">
      <img src="https://m.media-amazon.com/images/I/714tmMts+sL._AC_UL320_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">
          Faber 32 L Convection Microwave Oven (FBI MWO 32L GLB, Black)<br>
          price : ₹49,290
        </p>
        <button class="btn btn-primary">Buy</button>
        <button class="btn btn-warning">Add to cart</button>
      </div>
    </div>
</div>
<div class="col">
  <br>
  <div class="card" style="width: 18rem;">
    <img src="https://m.media-amazon.com/images/I/31Jw3k1eisL._AC_UL320_.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">
        Bosch Series 4 BEL550MS0I Stainless Steel Microwave Oven (Black)<br>
        price : ₹40,630

      </p>
      <button class="btn btn-primary">Buy</button>
      <button class="btn btn-warning">Add to cart</button>
    </div>
  </div>
</div>
<div class="col">
<br>
<div class="card" style="width: 18rem;">
  <img src="https://m.media-amazon.com/images/I/21jy9KUTElL._AC_UL320_.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">
      Faber 38 L Convection Microwave Oven (FBIMWO 38L CGS BS, Black)<br>
      price : ₹58,369
    </p>
    <button class="btn btn-primary">Buy</button>
    <button class="btn btn-warning">Add to cart</button>
  </div>
</div>
</div>

    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</div></div></body></html>