<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glocery</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            
            <span class="navbar-brand mb-0 h1" href="#">Grocery</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                  </svg>
                            </button>
                        </div>
                    </div>
                </form>
                
            </div>
            <div class="col-lg-3 col-6 text-right">
                <button type="button" class="btn btn-warning" href="/">LOGIN</button>&emsp;

                
            
                
                    
            
                &emsp;<button type="button" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                    <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                </svg>
                </button>&emsp;
                
                    
                
                <button type="button" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
                </button>&emsp;
                <a class="btn btn-warning" href="/" role="button">Home</a>&emsp;
            </div>
    
            <div class="d-inline-flex align-items-center">
                <a class="text-light" href="">FAQs</a>
                <span class="text-muted px-2">|</span>
                <a class="text-light" href="">Help</a>
                <span class="text-muted px-2">|</span>
                <a class="text-light" href="">Support</a>
            </div>
        </div>
    </nav>
    <br>

    <div class="text-left mb-2 pb-2">
        <h4 class="section-title px-5 mb-3"><span class="bg-light px-2">Staple</span></h4>
        
    </div>
    
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;" >
                <img src="https://5.imimg.com/data5/IP/LB/MY-7778582/amul-ghee-500x500.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ammul Ghee</h5>
                  <h5 class="card-text">1 Kg</h5>
                  <h5 class="card-text">₹150</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
            <div class="card" style="width: 18rem;">
                <img src="https://www.bigbasket.com/media/uploads/p/xxl/147492_6-saffola-gold-refined-cooking-oil-blended-rice-bran-sunflower-oil-helps-keeps-heart-healthy.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Saffola Oil</h5>
                  <h5 class="card-text">2L</h5>
                  <h5 class="card-text">₹1000</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
            <div class="card" style="width: 18rem;">
                <img src="https://www.bigbasket.com/media/uploads/p/l/284420_8-aashirvaad-multigrains-atta.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Aashirvaad Multigrain Atta</h5>
                  <h5 class="card-text">5 KG Pouch</h5>
                  <h5 class="card-text">₹900</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/81UcOSIOfwL._SX522_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Catch Garam Masala </h5>
                  <h5 class="card-text">50g Packet</h5>
                  <h5 class="card-text">₹52</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
        </div>
    </div>&emsp;
    
    <br>
    <div class="text-left mb-2 pb-2">
        <h4 class="section-title px-5 mb-3"><span class="bg-light px-2">Snaks&Beverages</span></h4>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="https://www.govkarts.com/wp-content/uploads/2020/10/29-a.png" class="card-img-top" alt="...">
                <div class="card-body">
                    
                  <h5 class="card-title">Pringles</h5>
                  <h5 class="card-text">107g </h5>
                  <h5 class="card-text">₹99</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
            <div class="card" style="width: 18rem;">
                <img src="https://www.bigbasket.com/media/uploads/p/l/268915-4_3-lipton-pure-light-green-tea.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                   <br> 
                  <h5 class="card-title">Lipton Green Tea</h5>
                  <h5 class="card-text">(25Bags * 1.3g each) </h5>
                  <h5 class="card-text">₹150</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/61iqK2S9NWL._SL1000_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                   <br> 
                  <h5 class="card-title">Tata Tea Gold</h5>
                  <h5 class="card-text">1.5g</h5>
                  <h5 class="card-text">₹250</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/619cG1-l-dL._SL1000_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                   <br> 
                  <h5 class="card-title">Nescafe Original Coffee</h5>
                  <h5 class="card-text">100g</h5>
                  <h5 class="card-text">₹300</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
        </div>
    </div>&emsp;
    
    <div class="text-left mb-2 pb-2">
        <h4 class="section-title px-5 mb-3"><span class="bg-light px-2">Packaged Food</span></h4>
        
    </div>
   
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/71S60Lb2GwL._SL1500_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dabur Honey</h5>
                  <h5 class="card-text">500g</h5>
                  <h5 class="card-text">₹350</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/61RI+3WyoTL._SX522_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ching's Shezwan Chuteny</h5>
                  <h5 class="card-text">250g</h5>
                  <h5 class="card-text">₹199</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
            <div class="card" style="width: 18rem;">
                <img src="https://www.bigbasket.com/media/uploads/p/l/40200613_2-itc-master-chef-cooking-paste-vegetable-biryani-easy-to-cook-ready-to-cook-indian-paste.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ready To Cook</h5>
                  <h5 class="card-text">80g</h5>
                  <h5 class="card-text">₹200</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
            <div class="card" style="width: 18rem;">
                <img src="https://www.bigbasket.com/media/uploads/p/l/40059141_4-betty-crocker-pancake-mix-original.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pancake Mix</h5>
                  <h5 class="card-text">250g</h5>
                  <h5 class="card-text">₹399</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
        </div>
    </div>&emsp;
    
   
    <div class="text-left mb-2 pb-2">
        <h4 class="section-title px-5 mb-3"><span class="bg-light px-2">Dairy & Eggs</span></h4>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="https://www.bigbasket.com/media/uploads/p/l/306926_4-amul-homogenised-toned-milk.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Amul Taaza</h5>
                  <h5 class="card-text">1 L</h5>
                  <h5 class="card-text">₹160</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
            <div class="card" style="width: 18rem;">
                <br><br>
                <img src="https://d2td6mzj4f4e1e.cloudfront.net/wp-content/uploads/sites/9/2014/03/shutterstock_153914588-e1395741011597-620x330.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <br><br><br>
                  <h5 class="card-title">Egg Box</h5>
                  <h5 class="card-text">1 Dozen</h5>
                  <h5 class="card-text">₹300</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
            <div class="card" style="width: 18rem;">
                <img src="https://5.imimg.com/data5/SELLER/Default/2021/3/BG/CK/GR/58678338/curd-flavour-drink-500x500.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <br><br>
                  <h5 class="card-title">Amul Butter</h5>
                  <h5 class="card-text">1 Kg</h5>
                  <h5 class="card-text">₹180</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
            <div class="card" style="width: 18rem;">
                <br><br>
                <img src="https://www.justgotochef.com/img/1569066840-mother%20dairy-Dahi-Made%20From%20Toned%20Milk,%20200g-Front.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <br>
                  <h5 class="card-title">Mother Dairy Curd</h5>
                  <h5 class="card-text">200g</h5>
                  <h5 class="card-text">₹40</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
        </div>
    </div>&emsp;
    
    <div class="text-left mb-2 pb-2">
        <h4 class="section-title px-5 mb-3"><span class="bg-light px-2">Fruits & Vegetables</span></h4>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <br><br>
                <img src="https://www.gardeningknowhow.com/wp-content/uploads/2021/05/whole-and-slices-watermelon.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <br>
                  <h5 class="card-title">Watermelon</h5>
                  <h5 class="card-text">1 Kg</h5>
                  <h5 class="card-text">₹40</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
            <div class="card" style="width: 18rem;">
                <img src="https://produits.bienmanger.com/36700-0w470h470_Organic_Red_Onion_From_Italy.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Onion</h5>
                  <h5 class="card-text">1 kG</h5>
                  <h5 class="card-text">₹60</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
            <div class="card" style="width: 18rem;">
                <br><br>
                <img src="https://i.ndtvimg.com/mt/cooks/2014-11/carrots.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <br>
                  <h5 class="card-title">Carrot</h5>
                  <h5 class="card-text">1 kg</h5>
                  <h5 class="card-text">₹16</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
            <div class="card" style="width: 18rem;">
                <br><br>
                <img src="https://5.imimg.com/data5/AK/RA/MY-68428614/apple-500x500.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <br>
                  <h5 class="card-title">Apples</h5>
                  <h5 class="card-text">1 Kg</h5>
                  <h5 class="card-text">₹160</h5>
                  <a href="#" class="btn btn-warning">Add To Cart</a>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>&emsp;
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>