<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Mobiles</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            
            <span class="navbar-brand mb-0 h1" href="#">Mobiles</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                  </svg>
                            </button>
                        </div>
                    </div>
                </form>
                
            </div>
            <div class="col-lg-3 col-6 text-right">
                <button type="button" class="btn btn-warning" href="">LOGIN</button>&emsp;
            
                
                    
            
                &emsp;<button type="button" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                    <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                </svg>
                </button>&emsp;
                
                    
                
                <button type="button" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
                </button>&emsp;
                <button type="button" class="btn btn-warning" href="">Home</button>&emsp;
                
            </div>
            <div class="d-inline-flex align-items-center">
                <a class="text-light" href="">FAQs</a>
                <span class="text-muted px-2">|</span>
                <a class="text-light" href="">Help</a>
                <span class="text-muted px-2">|</span>
                <a class="text-light" href="">Support</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <p><h3>Mobile Section</h3></p>
      <div class="row align-items-start">
        <div class="col">
            <br>
            <div class="card" style="width: 18rem;">
              <img src="https://m.media-amazon.com/images/I/71r69Y7BSeL._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                    Samsung Galaxy M12<br>
                    (Blue,6GB RAM, 128GB Storage)<br>
                    Price:₹15,499 (19% off)
                </p>
                <button class="btn btn-success">Buy</button>
                <button class="btn btn-primary">Add to Cart</button>
                
              </div>
            </div>
        </div>
      
        <div class="col">
          <br>
            <div class="card" style="width: 18rem;">
              <img src="https://m.media-amazon.com/images/I/71F4jU7MRUS._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">
                    Samsung Galaxy M32 <br>
                    (Light Blue, 6GB RAM, 128GB Storage)<br>
                  Price:₹14,999 (21% off)</p>
                <button class="btn btn-success">Buy</button>
                <button class="btn btn-primary">Add to Cart</button>
                
              </div>
            </div>
        </div>
        <div class="col">
          <br>
          <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/91zjIiEiPQL._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                Samsung Galaxy A52s 5G <br>
                 (Black, 8GB RAM, 128GB Storage)<br>
                Price:₹32,499 (21% off)</p>
              <button class="btn btn-success">Buy</button>
              <button class="btn btn-primary">Add to Cart</button>
              
            </div>
          </div>
        </div>
        <div class="col">
          <br>
          <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/91dnhRu+32L._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                Samsung Galaxy A23 <br>
                (Peach, 6GB RAM, 128GB Storage)<br>
                Price:₹19,499 (19% off)
                </p>
              <button class="btn btn-success">Buy</button>
              <button class="btn btn-primary">Add to Cart</button>
              
            </div>
          </div>
      </div>
      
        <div class="row">
            <div class="col">
                <br>
                <div class="card" style="width: 18rem;">
                  <img src="https://m.media-amazon.com/images/I/71tT8J5cKuL._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">
                        Apple iPhone 12 Mini (64GB) - White <br>
                        Price:₹69,900 (24% off)
                    </p>
                    <button class="btn btn-success">Buy</button>
                    <button class="btn btn-primary">Add to Cart</button>
                    
                  </div>
                </div>
            </div>
          
            <div class="col">
              <br>
                <div class="card" style="width: 18rem;">
                  <img src="https://m.media-amazon.com/images/I/61VuVU94RnL._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">
                        Apple iPhone 13 (128GB) - Midnight<br>
                      Price:₹79,900 (7% off)</p>
                    <button class="btn btn-success">Buy</button>
                    <button class="btn btn-primary">Add to Cart</button>
                    
                  </div>
                </div>
            </div>
            <div class="col">
              <br>
              <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/51cCOStn+rL._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    Apple iPhone XR (128GB) - Coral<br>
                    Price:₹52,900 (19% off)</p>
                  <button class="btn btn-success">Buy</button>
                  <button class="btn btn-primary">Add to Cart</button>
                  
                </div>
              </div>
            </div>
            <div class="col">
              <br>
              <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/71tpxtLD0aL._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    Apple iPhone 11 (128GB) - Purple<br>
                    Price:₹54,900 (4% off)
                    </p>
                  <button class="btn btn-success">Buy</button>
                  <button class="btn btn-primary">Add to Cart</button>
                  
                  
                </div>
              </div>
          </div>
          
      <div class="row">
        <div class="col">
          <br>
          <div class="card" style="width: 17rem;">
            <img src="https://m.media-amazon.com/images/I/71WCmrY3Q+L._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                Google Pixel 3a XL <br>
                (Just Black, 64 GB, 4GB RAM) <br>
                Price:₹24,000 (38% off)</p>
              <button class="btn btn-success">Buy</button>
              <button class="btn btn-primary">Add to Cart</button>
              
            </div>
          </div>
        </div>
        <div class="col">
          <br>
          <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/71adnun6E8L._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                Google Pixel 6 5G <br>
                (Stromy Black, 8GB RAM, 128GB Storage)<br>
                Price:₹87,000 (31% off)</p>
              <button class="btn btn-success">Buy</button>
              <button class="btn btn-primary">Add to Cart</button>
              
            </div>
          </div>
        </div>
        <div class="col">
          <br>
          <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/8116d+CC3yL._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                Google Pixel 6 Pro 5G <br>
                (Cloudy White, 12GB RAM, 128GB Storage)<br>
                Price:₹77,700 (40% off)</p>
              <button class="btn btn-success">Buy</button>
              <button class="btn btn-primary">Add to Cart</button>
              
            </div>
          </div>
        </div>
        <div class="col">
          <br>
          <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/6191aDbiwjL._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <br>
              <p class="card-text">
                Google Pixel 6 Pro 5G<br>
                 (Stromy Black, 12GB RAM, 256GB Storage)<br>
                Price:₹99,499 (22% off)</p>
              <button class="btn btn-success">Buy</button>
              <button class="btn btn-primary">Add to Cart</button>
              
            </div>
          </div>
        </div>
        
      <div class="row align-items-end">
        <div class="col">
          <br>
          <div class="card" style="width: 16rem;">
            <img src="https://m.media-amazon.com/images/I/71KVeQql77S._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                OnePlus Nord 2 5G (Gray Sierra, 8GB RAM, 128GB Storage)<br>
                Price:₹29,999 </p>
              <button class="btn btn-success">Buy</button>
              <button class="btn btn-primary">Add to Cart</button>
              
            </div>
          </div>
        </div>
        <div class="col">
          <br>
          <div class="card" style="width: 16rem;">
            <img src="https://m.media-amazon.com/images/I/61mIUCd-37L._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                OnePlus 10 Pro 5G <br>
                (Volcanic Black, 8GB RAM, 128GB Storage)<br>
                Price:₹66,999 </p>
              <button class="btn btn-success">Buy</button>
              <button class="btn btn-primary">Add to Cart</button>
              
            </div>
          </div>
        </div>
        <div class="col">
          <br>
          <div class="card" style="width: 16rem;">
            <img src="https://m.media-amazon.com/images/I/612ytK4luvL._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                OnePlus 9 Pro 5G<br> 
                (Pine Green, 12GB RAM, 256GB Storage)<br>
                Price:₹59,199 (15% off)</p>
              <button class="btn btn-success">Buy</button>
              <button class="btn btn-primary">Add to Cart</button>
              
            </div>
          </div>
        </div>
      <div class="col">
          <br>
          <div class="card" style="width: 16rem;">
            <img src="https://m.media-amazon.com/images/I/61iy2Ru9KdS._AC_UY327_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                OnePlus Nord CE 5G<br>
                 (Blue Void, 8GB RAM, 128GB Storage)<br>
                Price:₹24,999 </p>
              <button class="btn btn-success">Buy</button>
              <button class="btn btn-primary">Add to Cart</button>
              

            </div>
          </div>
        </div>
        
        </div> 
    </div>
      </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>